In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df1 = pd.read_csv('Clean_Dataset.csv')
df2 = pd.read_csv('business.csv')

In [ ]:
df1

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
...,...,...,...,...,...,...,...,...,...,...,...,...
300148,300148,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,69265
300149,300149,Vistara,UK-826,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49,77105
300150,300150,Vistara,UK-832,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49,79099
300151,300151,Vistara,UK-828,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49,81585
300152,300152,Vistara,UK-822,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49,81585

In [ ]:
df1['class'].value_counts()

class
Economy     206666
Business     93487
Name: count, dtype: int64

In [ ]:
df1.shape

(300153, 12)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

In [ ]:
df1.isnull().sum()

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [ ]:
df1.isna().sum()

Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [ ]:
X=df1.drop(["Unnamed: 0","price","flight"], axis =1)
y = df1["price"]

In [ ]:
X

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
0,SpiceJet,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1
1,SpiceJet,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1
2,AirAsia,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1
3,Vistara,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1
4,Vistara,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1
...,...,...,...,...,...,...,...,...,...
300148,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49
300149,Vistara,Chennai,Afternoon,one,Night,Hyderabad,Business,10.42,49
300150,Vistara,Chennai,Early_Morning,one,Night,Hyderabad,Business,13.83,49
300151,Vistara,Chennai,Early_Morning,one,Evening,Hyderabad,Business,10.00,49
300152,Vistara,Chennai,Morning,one,Evening,Hyderabad,Business,10.08,49

In [ ]:
df1['class'].value_counts()

class
Economy     206666
Business     93487
Name: count, dtype: int64

In [ ]:
#Converting Categorical values

X['airline'] = X['airline'].replace({'SpiceJet': 0, 'AirAsia': 1, 'GO_FIRST':2, 'Indigo':3, 'Air_India':4, 'Vistara':5})
X['source_city']  = X['source_city'].replace({'Delhi': 0, 'Mumbai': 1, 'Bangalore':2, 'Kolkata':3, 'Hyderabad':4, 'Chennai':5})
X['destination_city'] = X['destination_city'].replace({'Delhi': 0, 'Mumbai': 1, 'Bangalore':2, 'Kolkata':3, 'Hyderabad':4, 'Chennai':5})
X['departure_time']  = X['departure_time'].replace({'Early_Morning': 0, 'Morning': 1, 'Afternoon':2, 'Evening':3, 'Night':4, 'Late_Night':5})
X['stops'] = X['stops'].replace({'zero': 0, 'one': 1, 'two_or_more':2})
X['arrival_time']  = X['arrival_time'].replace({'Early_Morning': 0, 'Morning': 1, 'Afternoon':2, 'Evening':3, 'Night':4, 'Late_Night':5})
X['class'] = X['class'].replace({'Economy': 0, 'Business': 1})

/tmp/ipython-input-1494531355.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['airline'] = X['airline'].replace({'SpiceJet': 0, 'AirAsia': 1, 'GO_FIRST':2, 'Indigo':3, 'Air_India':4, 'Vistara':5})
/tmp/ipython-input-1494531355.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['source_city']  = X['source_city'].replace({'Delhi': 0, 'Mumbai': 1, 'Bangalore':2, 'Kolkata':3, 'Hyderabad':4, 'Chennai':5})
/tmp/ipython-input-1494531355.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['destination_city'] = X['destination_city'].replace({'Delhi': 0, 'Mumbai': 1, 'Bangalore':2, 'Kolkata':3, 'Hyderabad':4, 'Chennai':5})
/tmp/ipython-input-1494531355.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['departure_time']  = X['departure_time'].replace({'Early_Morning': 0, 'Morning': 1, 'Afternoon':2, 'Evening':3, 'Night':4, 'Late_Night':5})
/tmp/ipython-input-1494531355.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['stops'] = X['stops'].replace({'zero': 0, 'one': 1, 'two_or_more':2})
/tmp/ipython-input-1494531355.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['arrival_time']  = X['arrival_time'].replace({'Early_Morning': 0, 'Morning': 1, 'Afternoon':2, 'Evening':3, 'Night':4, 'Late_Night':5})
/tmp/ipython-input-1494531355.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['class'] = X['class'].replace({'Economy': 0, 'Business': 1})

In [ ]:
X

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
0,0,0,3,0,4,1,0,2.17,1
1,0,0,0,0,1,1,0,2.33,1
2,1,0,0,0,0,1,0,2.17,1
3,5,0,1,0,2,1,0,2.25,1
4,5,0,1,0,1,1,0,2.33,1
...,...,...,...,...,...,...,...,...,...
300148,5,5,1,1,3,4,1,10.08,49
300149,5,5,2,1,4,4,1,10.42,49
300150,5,5,0,1,4,4,1,13.83,49
300151,5,5,0,1,3,4,1,10.00,49
300152,5,5,1,1,3,4,1,10.08,49

In [ ]:
y

0          5953
1          5953
2          5956
3          5955
4          5955
          ...
300148    69265
300149    77105
300150    79099
300151    81585
300152    81585
Name: price, Length: 300153, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train

array([[0.8       , 0.4       , 0.        , ..., 1.        , 0.33857143,
        0.4375    ],
       [1.        , 0.8       , 0.        , ..., 0.        , 0.25693878,
        0.70833333],
       [1.        , 0.2       , 0.2       , ..., 0.        , 0.08346939,
        0.29166667],
       ...,
       [0.8       , 0.4       , 0.        , ..., 0.        , 0.25857143,
        0.22916667],
       [1.        , 1.        , 0.8       , ..., 0.        , 0.48142857,
        0.16666667],
       [1.        , 0.4       , 0.6       , ..., 0.        , 0.23306122,
        0.79166667]])

In [ ]:
X_test

array([[0.2       , 0.6       , 0.2       , ..., 0.        , 0.09367347,
        0.35416667],
       [0.        , 0.2       , 0.8       , ..., 0.        , 0.17183673,
        0.08333333],
       [0.        , 0.6       , 0.2       , ..., 0.        , 0.16      ,
        0.5       ],
       ...,
       [1.        , 0.8       , 0.4       , ..., 1.        , 0.45081633,
        0.5625    ],
       [1.        , 0.2       , 0.6       , ..., 1.        , 0.30959184,
        0.77083333],
       [0.6       , 0.4       , 0.2       , ..., 0.        , 0.10204082,
        0.375     ]])

In [ ]:
y_test

149462     3961
53343      5102
131359    12308
77090      4099
193203     4637
          ...
52497      3010
226737    41101
286550    41314
237060    57565
105144     5178
Name: price, Length: 60031, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error, mean_absolute_error

In [ ]:
lg = LinearRegression()
lg.fit(X_train,y_train)
y_pred = lg.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 50389095.11066077

In [ ]:
print("r2_score:", r2_score(y_test, y_pred))

r2_score: 0.9024177958630405

In [ ]:
rmse = root_mean_squared_error(y_test, y_pred)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 7098.527672035995

## **Random Forest**

In [ ]:
rfr = RandomForestRegressor()
rfr.fit(X_train,y_train)
y_pred = rfr.predict(X_test)

In [ ]:
r2 = r2_score(y_test, y_pred)
print("r2_score:", r2)

r2_score: 0.9855303689860422

In [ ]:
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 7471768.237117877

In [ ]:
rmse = root_mean_squared_error(y_test, y_pred)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 2733.4535366671003

In [ ]:
ame = mean_absolute_error(y_test, y_pred)
print("mean_absolute_error:", ame)

mean_absolute_error: 1074.9406999853645

# **Decision Tree**

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
dtr = DecisionTreeRegressor()
dtr.fit(X_train,y_train)
y_pred = dtr.predict(X_test)

In [ ]:
r2 = r2_score(y_test, y_pred)
print("r2_score:", r2)

r2_score: 0.9767456697330043

In [ ]:
ame = mean_absolute_error(y_test, y_pred)
print("mean_absolute_error:", ame)

mean_absolute_error: 1165.3410959892944

In [ ]:
X

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left
0,0,0,3,0,4,1,0,2.17,1
1,0,0,0,0,1,1,0,2.33,1
2,1,0,0,0,0,1,0,2.17,1
3,5,0,1,0,2,1,0,2.25,1
4,5,0,1,0,1,1,0,2.33,1
...,...,...,...,...,...,...,...,...,...
300148,5,5,1,1,3,4,1,10.08,49
300149,5,5,2,1,4,4,1,10.42,49
300150,5,5,0,1,4,4,1,13.83,49
300151,5,5,0,1,3,4,1,10.00,49
300152,5,5,1,1,3,4,1,10.08,49

In [ ]:
y

0          5953
1          5953
2          5956
3          5955
4          5955
          ...
300148    69265
300149    77105
300150    79099
300151    81585
300152    81585
Name: price, Length: 300153, dtype: int64

# Price Prediction Model

In [ ]:
def predict_Price(airline, source_city, departure_time, stops, arrival_time, destination_city, class_type, duration, days_left):
  features=np.array([[airline, source_city, departure_time, stops, arrival_time, destination_city, class_type, duration, days_left]])
  scaled_features = scaler.transform(features)
  predicted_price = dtr.predict(scaled_features)
  return predicted_price[0]

In [ ]:
#Prediction
sample_prediction = predict_Price(airline=3, source_city=0, departure_time=0, stops=0, arrival_time=0, destination_city=0, class_type=0, duration=2.17, days_left=10)
print("Predicted Price:", sample_prediction)

Predicted Price: 6231.0

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [ ]:
display(X.loc[3]) # A column from dataset

airline             5.00
source_city         0.00
departure_time      1.00
stops               0.00
arrival_time        2.00
destination_city    1.00
class               0.00
duration            2.25
days_left           1.00
Name: 3, dtype: float64

In [ ]:
#Prediction
sample_prediction = predict_Price(airline=5, source_city=0, departure_time=1, stops=0, arrival_time=2, destination_city=1, class_type=0, duration=2.25, days_left=1)
print("Predicted Price:", sample_prediction)

Predicted Price: 5955.0

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [ ]:
display(y.loc[3])

np.int64(5955)

In [ ]:
import pickle
from sklearn.ensemble import RandomForestClassifier

pickle.dump(rfr, open('flight_price_prediction.pkl', 'wb'))